@model IEnumerable<Excersice_04.Models.Beer>

@{
    ViewData["Title"] = "FilterByName";
}

<h1>FilterByName</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AlcoholPercentage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Brewery)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Country)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AlcoholPercentage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Brewery)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Country)
            </td>
        </tr>
}
    </tbody>
</table>
